body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background image in the center + 100px right but smaller : */
    background-image: url("../images/paysage-0.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1024px 576px;

}



div{
    border: 1px solid red;
}
canvas {
    border: 1px solid black;
}

.answers{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}