body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background image in the center + 100px right but smaller : */
    background-image: url("../images/paysage-0.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

div{
    border: 1px solid red;
}
canvas {
    border: 1px solid black;
}

.answers{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.health-bar {
    width: 200px;
    height: 30px;
    border: 2px solid #000;
    position: relative;
}

.health-fill {
    height: 100%;
    background-color: green;
    width: 100%; /* This will be adjusted based on the health percentage */
    transition: width 0.5s; /* Smooth transition when health changes */
}


.noButton {
  font-family: monospace;
  background-color: #ff2f00;
  color: #000000;
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: .3s;  
  font-size: 30px;
  
}
.noButton:hover {
  background-color: #fa4700;
  color: #f3f7fe;
  cursor: pointer;
}
.yesButton{
    font-family: monospace;
    background-color: #00ff2f;
    color: #000000;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;  
    font-size: 30px;
    
    }

.yesButton:hover {
    background-color: #00fa47;
    color: #f3f7fe;
    cursor: pointer;
    }


.nextButton{
    font-family: monospace;
    background-color: #004cff;
    color: #000000;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;  
    font-size: 30px;
    
    }

.nextButton:hover {
    background-color: #003afa;
    color: #f3f7fe;
    cursor: pointer;
    }