body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background image in the center + 100px right but smaller : */
    background-image: url("../images/paysage-0.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.date {
    font-family: monospace;
    font-size: 40px;
    color: #000000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.answers{
    display: flex;
    justify-content: space;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.health-bar {
    width: 200px;
    height: 30px;
    border: 2px solid #000;
    position: relative;
}

.health-fill {
    height: 100%;
    background-color: green;
    width: 100%; /* This will be adjusted based on the health percentage */
    transition: width 0.5s; /* Smooth transition when health changes */
}

.messageText {
    font-family: monospace;
    font-size: 40px;
    color: #000000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.noButton {
  font-family: monospace;
  background-color: #DF2E38;
  color: #000000;
  border: none;
  border-radius: 8px;
  width:150px;
  height: 75px;
  transition: .3s;  
  font-size: 40px;
  
}
.noButton:hover {
  background-color: #DF2E38;
  color: #f3f7fe;
  cursor: pointer;
}
.yesButton{
    font-family: monospace;
    background-color: #5D9C59;
    color: #000000;
    border: none;
    border-radius: 8px;
    width: 150px;
    height: 75px;
    transition: .3s;  
    font-size: 40px;
    
    }

.yesButton:hover {
    background-color: #5D9C59;
    color: #f3f7fe;
    cursor: pointer;
    }


.exitButton{
    font-family: monospace;
    background-color: #3066ED;
    color: #000000;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;  
    font-size: 25px;
    
    }

.exitButton:hover {
    background-color: #3066ED;
    color: #f3f7fe;
    cursor: pointer;
    }

.answers {
    position: absolute;
    bottom: 40px; /* Adjust this value to change the vertical position */
    left: 50%;
    transform: translateX(-50%);

}
.answers button {
    margin: 0 80px; /* Adjust the margin as needed */
}

/*exit button on top left*/
.exitButton {
    position: absolute;
    top: 10px;
    left: 10px;
}
