
body{
    background-image: url("../images/paysage-0.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

h1 {
    color: white;
    font-size: 3em;
}


.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    flex-direction: column;
    margin: 0;
    background-image: url("audio/Bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    margin: 0;
}

.settings{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 2em;
    font-family: 'Roboto Slab', sans-serif;
}